.navbar{
   display: flex;
}

.navbar-title {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
   font-size: small;
   color: #335576;
   padding-left: 2rem;
}

.navbar-home {
    border-bottom: solid #DB7A4E;
    padding-bottom: 1em;
}

.navbar-links {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


ul {
    list-style-type: none;
    text-align: center;
    margin-top: 1rem;
    padding: 0;
    margin-left: 60rem;
    display: block;
}
  
li {
    float: left;
}
  
li a {
    display: inline;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.section{
    background-color: #FEFAF5;
}

.section-header{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #335576;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.section-header-align {
    margin-top: 10rem;
}

.section-button {
    background-color: #DB7A4E;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2rem;
    margin-left: 5rem;
}

.section-image {
    width: 27rem;
    height: 20rem;
    padding: 3rem;
}